@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@section Styles {<link rel="stylesheet" href="~/css/pages/home.css" />}

<div class="home-container">
    <!-- Card 1 -->
    <div class="home-card">

        @if (Model == null || !Model.ativo)
        {
            <h3>Status de Investiment</h3>

            <p>
                Atualmente você não investe com a Compra de Ações programada, para investir, clique no botão abaixo e ative sua conta!
            </p>

            <button class="btn-primary" onclick="location.href='@Url.Action("Index","Manutencao")'">Investir</button>
        }
        else
        {
            <h3>Status de Investimento</h3>

            <p>
                Atualmente você está ativo no plano de investimento automático, seu investimento mensal está em:
            </p>

            <div class="valor-investido">
                @Model.valorInvestido.ToString()
            </div>
        }

    </div>

    <!-- Card 2 -->
    <div class="home-card">
        <h3>Consultar Carteira</h3>
        <p>
            Consulte aqui sua carteira, quais são suas ações,
            porcentagem e valor total investido!
        </p>

        <button class="btn-primary" onclick="location.href='@Url.Action("Index","Carteira")'"> Consultar </button>
    </div>

    <!-- Card 3 -->
    <div class="home-card">
        <h3>Manutenção do Produto</h3>
        <p>
            Veja suas opções de manutenção, altere o valor mensal ou saia da assinatura.
        </p>

        <button class="btn-primary" onclick="location.href='@Url.Action("Index","Manutencao")'">Manutenção</button>
    </div>

</div>