@model List<TesteItau_WebMvc.Models.CestaTopFiveViewModel>

<h2>Cesta Top Five</h2>

<!-- 🔹 FORM 1 - Editar Cesta -->
<form asp-action="Editar" method="post">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Percentual (%)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model[i].Id" />

                        <input class="form-control"
                               asp-for="@Model[i].Ticker" />
                    </td>

                    <td>
                        <input class="form-control"
                               asp-for="@Model[i].Percentual" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">
        Salvar Alterações
    </button>

</form>

<hr />

<!-- 🔹 FORM 2 - Importar Cotação -->
<form asp-action="ImportarCotacao" method="post">

    <button type="submit" class="btn btn-primary">
        Importar Cotações da B3
    </button>

</form>